.cardList { 
  display: flex;
}

.card {
  margin: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.input {
  margin-top: 3px;
}

.formButtons {
  display: flex;
}

.reverseButton {
  margin-left: 3px;
}

.button {
  margin-top: 8px;
}
