body {
  font-family: sans-serif;
  background-color: #1b2a49;
  color: #c9d1d3;
  padding: 6px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
 box-sizing: border-box;
}